@import './style.scss';

.container {
    max-width: 60%; // Set the container width to 60% for web
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box; /* Include padding and border in width calculation */

            &.error {
                color: $error-color;
                font-size: 12px;
            }
        }
    }

    button[type="submit"] {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

.alert {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-weight: bold;

    &.success {
        background-color: $success-color;
        color: #fff;
    }

    &.error {
        background-color: $error-color;
        color: #fff;
    }
}

// Media Queries for Tablets and Mobile
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 15px;

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            padding: 8px;
            margin-bottom: 10px;
        }

        &.error {
            font-size: 10px;
        }
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}
