@import './style.scss';

/* Sections styles */

section {
  width: 60%;
  margin: 0 auto;
  padding: 40px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003366;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
