@import "./style.scss";

// Main content styles
main {
  padding: 20px;
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    margin: 0;
    border-radius: 4px;
  }
  .menu-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

    h2 {
      color: #{$theme-primary};
      margin-bottom: 10px;
    }

    .menu-items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .menu-item {
        flex: calc(50% - 10px); /* Set the width to 50% minus the gap */
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          color: #555;
        }

        span {
          font-size: 16px;
          font-weight: bold;
          color: #{$theme-primary};
        }
      }
    }
  }
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease; /* Add a transition for smooth rotation */
}

.rotate {
  transform: rotate(180deg); /* Rotate the arrow when the section is open */
}

// Media queries for responsiveness
@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  main {
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  aside.sidebar {
    width: 200px;
  }
  main {
    padding: 10px;
  }
}
