:root {
  --font-roboto: "Roboto", sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pureBlack: #101010;
  --color-dimGray: #717171;
  --color-chineseBlack: #171717;
  --layout-bg: #f5f5f5;
  --color-navyBlue: #193182;
  --color-red: #cf060d;
  --color-green: #3f9b1b;
  --color-lightGrayishBlue: #deebff;
  --color-lightGrayishPink: #eeeada;
  --color-lightGrayishOrange: #ddceb3;
  --color-lightGrayishGray: #f5f1f1;
  --footer-color: #cccccc;
  --text-color1: #757272;
  --text-color2: #444446;
  --text-color3: #333333;
  --text-color4: #7f7f7f;
  --text-color5: #757272;
  --text-color6: #3b3838;
  --text-color7: #5b5e5a;
  --text-color8: #0d0d0d;
  --text-color9: #ffeeee;
  --text-color10: #5a5757;
  --text-color11: #3c3a3a;
  --bg-color: #f3f3f3;
  --bg-color1: #eff1f8;
  --bg-color2: #e3e0e0;
  --bg-color3: #a8a2a2;
  --bg-color4: #d7e0ff;
  --border-color: #ebe9e9;
  --border-color1: #edeaea;
  --border-color2: #c4d0f8;
  --border-color3: #979797;
}
